<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href = "/converter">Конвертация валют</a>
<a href = "/">На главную страницу</a>
<form action="/toaccountpage" method="get">
    <table>
        <thead>
        <tr >
            <td><b> Код Валюты</b></td>
            <td><b> Сумма</b> </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="field : ${fields}" >
            <td width="20px" th:text="${field.getKey()}">
            </td><td th:text="${field.getValue()}">
        </td></tr>
        </tbody>
    </table>
</form>
</body>
</html>