<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href = "/converter">Конвертация валют</a>
<a href = "/">На главную страницу</a>
<form action="/addsum" method="post">
    <h1 align="center">Добавление средств</h1>
    <input type='text' name = "num"/>
    <br>
    <select name = "valName">
        <option th:each="name : ${names}" th:value="${name.getValutename()}" th:text="${name.getChar_code() + ' (' + name.getValutename() + ')'}"></option>
    </select>
    <br>
    <input type="submit" value="Добавить средств"/>
</form>
</body>
</html>