<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href = "/converter">Конвертация валют</a>
<a href = "/">На главную страницу</a>
<form action="/historyofuser" method="get">
    <h1 align="center">История</h1>
    <select name="name" class="select">
        <option  value="" text=""></option>
        <option th:each="user : ${users}" th:value="${user.getName()}" th:text="${user.getName()}"></option>
    </select>
    <input type="submit" value="История пользователя"/>
    <table>
        <thead>
        <tr >
            <td><b> Исходная валюта</b></td>
            <td><b> Целевая валюта</b> </td>
            <td><b> Исходная сумма</b> </td>
            <td><b> Курс</b> </td>
            <td><b> Получаемая сумма</b> </td>
            <td><b> Дата </b> </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history : ${histories}" >

            <td width="20px" th:text="${history.getOutValute()}">
            </td><td th:text="${history.getInValute()}">
        </td><td th:text="${history.getOutValue()}">
        </td><td th:text="${history.getCurrency()}">
        </td><td th:text="${history.getInValue()}">
        </td><td th:text="${history.getDate()}">
        </td></tr>
        </tbody>
    </table>
</form>
</body>
</html>